<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head><meta charset="UTF-8"><title>ユーザー追加</title></head>
<body>
<h1>ユーザー追加</h1>

<form th:action="@{/admin/users/new}" method="post" th:object="${form}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div>
        <label>ユーザー名
            <input type="text" th:field="*{username}">
        </label>
    </div>
    <div>
        <label>パスワード
            <input type="password" th:field="*{password}">
        </label>
    </div>
    <div>
        <label>ロール</label>
        <label><input type="checkbox" name="roles" value="USER" checked> ROLE_USER</label>
        <label><input type="checkbox" name="roles" value="ADMIN"> ROLE_ADMIN</label>
    </div>
    <div>
        <button type="submit">作成</button>
        <a th:href="@{/admin/users}">戻る</a>
    </div>
</form>
</body>
</html>
